.profile-dropdown{
  display: flex;
  align-items: center;
}
.dropdown-button{
  margin-left: 0.7vw;
  margin-bottom: 0.8vh;
}
.user-avatar{
  background-color: #2F80ED;
  color: white;
  padding: 0.8vh 1.3vh;
  border-radius: 3px;
  margin-right: 1vw;
}