.board-page-container{
  background-color: white;
  height: 100vh;
}
.board-page{
  padding: 1vh 3vw;
}
.board{
  padding: 3vh 2vw;
  margin-top: 3vh;
  border-radius: 20px;
  background-color: #F8F9FD;
  display: flex;
  height: 80vh;
}