.board-item{
  background-color: white;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 3vh;
  box-shadow: 0 3px 11px #e6e6e6;
  padding: 1vw 1vw;
  cursor: grabbing;
  // * Added grab pointer while grabbing
}