*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  font-family: 'Poppins', sans-serif;
}
input{
  border: none;
  &:focus{
    outline: none;
  }
}

.srow{
  margin-top: 2vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pointer{
  &:hover{
    cursor: pointer;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .homepage{
    padding-top: 0;
  }
}