.searchbar{
  display: flex;
  align-items: center;
  box-shadow: 0 3px 11px #e6e6e6;
  height: 4.5vh;
  padding: 0 0.5vh;
  justify-content: space-between;
  border-radius: 10px;
}
.search-button{
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #2F80ED;
  height: 3.5vh;
  padding: 0.3vh 1vw;
  border-radius: 5px;
}
.search-input{
  width: 15vw;
  margin-left: 2vh;
  font-size: 0.8rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

  .searchbar{
    margin-top: 2vh;
  }
  .search-input{
    width: 80vw;
  }
  .search-button{
    padding: 0.5vh 5vw;
  }
}