body{
  background-color: #F8F9FD;

}

.authpage{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-form{
  padding: 5vh 3vw;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 20px;
}
.header-logo{
  width: 8vw;
}
.form-inputs-container{
  margin-top: 5vh;

}
.form-input-box{
  margin-bottom: 3vh;
  border: 1px solid #BDBDBD;
  display: flex;
  padding: 2vh 2vw;
  border-radius: 5px ;
  justify-content: space-between;
  align-items: center;

}
.form-input{
  background-color: #F8F9FD;

  margin-left: 1.5vw;
  width: 15vw;
}
.input-icon{
  opacity: 40%;
}
.submit-button{
  color: white;
  background-color: #2F80ED;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5vh;
  border-radius: 8px;
  &:hover{
    cursor: pointer;
  }
}
.socialsignin{
  font-size: 0.6rem;
  display: flex;
  margin-top: 2vh;
  justify-content: center;

}
.social-row{
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.social-icons{
  &:hover{
    cursor: pointer;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .form-inputs-container{
    padding: 10vw 2vw;
  }
  .form-input{
    width: 70vw;

  }
  .header-logo{

    width: 25vw;
  }
  .logo-section{
    display: flex;
    justify-content: center;
  }
}
