.add-card-button{
  width: 14vw;
  height: 3.5vh;
  display: flex;
  align-items: center;
  padding: 0 1vw;
  justify-content: space-between;
  background-color: #DAE3FE;
  border-radius: 8px;
  color: #72A8F0;
}
.acb-icon{
  font-size: 1.3rem;
}
.acb-text{
  font-size: 0.8rem;
}